body {
    background: lightyellow;
}

h1 {
    font-size: 54px;
    color: darkturquoise;
    text-align: center;
}

hi image {
    left-margin: auto;
    right-margin: auto;
}

ul {
    text-align: center;
    list-style: inside;
    font-size: 20px;
    color: #000;
}

h2 {
    text-align: center;
    color: darkturquoise;
    font-size: 40px;
}

h2 p {
    text-align: center;
    font-size: 18px;
    color: #000;
}

footer a {
    font-size: 24px;
    padding-left: 200px;
}

footer {
    font-size: 24px;
    padding-left: 150px;
    background: turquoise
}

